* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* linear-gradient(to bottom right, #B69DE8, #9C11F9);*/
.header {
    background-image: url(/img/2205_w026_n002_1983b_p1_1983.jpg);
    height: 40vh;
    background-size: cover;
    background-position: top;
    position: relative;
}

.heading-main {
    color: white;
    letter-spacing: 12px;
    font-size: 3rem;
    position: absolute;
    top: 25%;
    left: 35%;
}